* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameEnd {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 5px;
}

#start-button,
#endBtn {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #0189e346;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#finalScore {
  margin: 10px;
  font-size: 1.8rem;
  text-align: center;
}

#score {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: white;
  text-align: center;
}

#prompt {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  text-align: center;
  color: white;
}

#canvas {
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
