*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
#score {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color : white
}

#canvas {
    outline: none;
    position: fixed;
    top: 0;
    left: 0;
}